@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

:root {
  --color001: #3fb3a6;
  --color001-light: #3fb3a53f;
  --color002: #009cdc;
  --color002-light: #009cdc3f;
  --color003: #d77535;
  --color003-light: #d775353f;
  --color003-dark: #b4632c;
  --color005: #696969;
  --font001: "Lexend", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font001);
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.text-light {
  color: var(--color005) !important;
}

.text-blue {
  color: var(--color002) !important;
}

.text-fade {
  background: linear-gradient(-45deg, var(--color002), var(--color001));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.text-bold {
  font-weight: 500;
}

.navbar {
  box-shadow: 0px 1px 0px 0px #e7e7e7;
  background-color: rgba(255, 255, 255, 0.616);
  backdrop-filter: blur(10px);
}

.navbar-brand img {
  width: 130px;
  height: auto;
}

.nav-link:hover {
  color: var(--color001);
}

.btn-comprador {
  color: white;
  background: linear-gradient(-45deg, var(--color002), var(--color001));
  border: none;
  transition: all 0.25s ease-in-out;
}

.btn-comprador:hover {
  color: white;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.btn-fornecedor {
  color: white;
  background-color: var(--color003);
  border: none;
  transition: all 0.25s ease-in-out;
}

.btn-fornecedor:hover {
  color: white;
  background-color: var(--color003);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.hero {
  background: linear-gradient(0deg, #f0f0f0, #fff);
  padding: 2rem 0;
}

.hero-cta {
  margin-top: 70px !important;
}

.btn-cta {
  color: white;
  background: linear-gradient(-45deg, var(--color002), var(--color001));
  border: none;
  transition: all 0.25s ease-in-out;
}

.btn-cta:hover {
  transform: scale(1.05);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  color: white;
}

.hero-image img {
  max-width: 100%;
}

#solucoes {
  scroll-margin-top: 120px;
}

.item {
  border: 1px solid #e7e7e7;
  border-radius: 0.5rem;
  padding: 1rem;
  background: #fff;
  transition: all 0.25s ease-in-out;
  width: 100%;
}

.item:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  border: 1px solid var(--color001);
}

.item p {
  color: var(--color005);
}

.item img {
  width: 60px;
  height: auto;
  transition: all 0.25s ease-in-out;
}

.item:hover img {
  transform: scale(1.1);
}

#marketplace {
  background: linear-gradient(0deg, #f0f0f0, #fff);
}

.mark-container .item:hover {
  border: 1px solid var(--color002);
}

.mark-container img {
  width: 50px;
  transition: all 0.25s ease-in-out;
}

.mark-container .item:hover img {
  transform: scale(1.1);
}

.tec-content {
  background: linear-gradient(
    -45deg,
    var(--color003),
    var(--color002),
    var(--color001)
  );
  padding: 4px;
}

#funcionalidades {
  background: linear-gradient(0deg, #f0f0f0, #fff);
  scroll-margin-top: 60px;
}

.carousel-inner {
  margin: 0 auto;
  width: 90% !important;
}

.cards-wrapper {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin: 0 auto;
}

.card-item {
  width: 33.33%;
}

#contacto {
  scroll-margin-top: 60px;
}

.form {
  width: 50%;
  border: 1px solid #e7e7e7;
  border-radius: 0.5rem;
}

.form-check-input {
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

.form-check-input:checked {
  background-color: var(--color003);
  border-color: var(--color003);
}

.form button {
  width: 100%;
}

.spinner-grow {
  width: 60px;
  height: 60px;
  color: var(--color003);
}

.success-icon img {
  width: 60px;
  height: 60px;
  filter: brightness(0) saturate(100%) invert(54%) sepia(14%) saturate(2126%)
    hue-rotate(340deg) brightness(94%) contrast(96%);
}

.ctt-item {
  width: 100%;
  min-height: 120px;
  border: 1px solid #e7e7e7;
  border-radius: 0.5rem;
  padding: 1.5rem;
}

.ctt-item p {
  margin: 0;
}

.tel-content a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.tel-content a:hover {
  text-decoration: underline;
}

@media (max-width: 990px) {
  .navbar-nav {
    text-align: center;
  }

  .nav-btn-container {
    justify-content: center !important;
    width: 100%;
  }

  .hero-cta {
    flex-direction: column;
    gap: 1.5rem !important;
  }

  .sol-container {
    flex-direction: column;
  }

  .plan-container {
    flex-direction: column;
  }

  .mark-container {
    display: flex !important;
    flex-direction: column;
    align-items: center;
  }

  .mark-container .col-md-4 {
    width: 100%;
  }

  .tec-container {
    display: flex !important;
    flex-direction: column;
    align-items: center;
  }

  .tec-container .col-md-4 {
    width: 100%;
  }

  .func-container {
    width: 100% !important;
  }

  .func-header {
    width: 75%;
    margin: auto;
  }

  .carousel {
    width: 90% !important;
    margin: 0 auto;
  }

  .carousel-inner {
    width: 80% !important;
  }

  .cards-wrapper {
    flex-direction: column;
  }

  .card-item {
    width: 100%;
  }

  .ctt-container {
    flex-direction: column;
    gap: 2rem !important;
    margin-top: 1rem !important;
  }

  .ctt-block {
    width: 100% !important;
  }

  .email-tel-container {
    flex-direction: column;
    gap: 0 !important;
  }
}

/*Images*/

.item-icon-01 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: var(--color001-light);
}

.item-icon-01 img {
  width: 35px;
  filter: brightness(0) saturate(100%) invert(59%) sepia(70%) saturate(337%)
    hue-rotate(124deg) brightness(90%) contrast(92%);
}

.item-icon-02 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: var(--color002-light);
}

.item-icon-02 img {
  width: 33px;
  filter: brightness(0) saturate(100%) invert(50%) sepia(92%) saturate(3859%)
    hue-rotate(170deg) brightness(98%) contrast(101%);
}

.item-icon-03 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  background-color: var(--color003-light);
}

.item-icon-03 img {
  width: 45px;
  filter: brightness(0) saturate(100%) invert(73%) sepia(78%) saturate(3811%)
    hue-rotate(339deg) brightness(90%) contrast(86%);
}

.item-icon-04 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: var(--color002-light);
}

.item-icon-04 img {
  width: 25px;
  filter: brightness(0) saturate(100%) invert(50%) sepia(92%) saturate(3859%)
    hue-rotate(170deg) brightness(98%) contrast(101%);
}

.item-icon-05 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background: linear-gradient(-45deg, var(--color002), var(--color001));
}

.item-icon-05 svg {
  width: 25px;
  fill: white;
}

.email-image {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 50px;
  height: 50px;
  background-color: var(--color002-light);
}

.email-image img {
  width: 25px;
  filter: brightness(0) saturate(100%) invert(50%) sepia(92%) saturate(3859%)
    hue-rotate(170deg) brightness(98%) contrast(101%);
}

.tel-image {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 50px;
  height: 50px;
  background-color: var(--color001-light);
}

.tel-image img {
  width: 25px;
  filter: brightness(0) saturate(100%) invert(59%) sepia(70%) saturate(337%)
    hue-rotate(124deg) brightness(90%) contrast(92%);
}

.esc-image {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 50px;
  height: 50px;
  background-color: var(--color003-light);
}

.esc-image img {
  width: 25px;
  filter: brightness(0) saturate(100%) invert(73%) sepia(78%) saturate(3811%)
    hue-rotate(339deg) brightness(90%) contrast(86%);
}
