@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

:root {
  --color001: #3fb3a6;
  --color002: #009cdc;
  --color003: #d77535;
  --color004: #b4632c;
  --color005: #696969;
  --font001: "Lexend", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font001);
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.text-light {
  color: var(--color005) !important;
}

.text-blue {
  color: var(--color002) !important;
}

.text-fade {
  background: linear-gradient(-45deg, var(--color002), var(--color001));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.text-bold {
  font-weight: 500;
}

.navbar {
  box-shadow: 0px 1px 0px 0px #e7e7e7;
  background-color: rgba(255, 255, 255, 0.616);
  backdrop-filter: blur(10px);
}

.navbar-brand img {
  width: 130px;
  height: auto;
}

.nav-link:hover {
  color: var(--color001);
}

.btn-comprador {
  color: white;
  background: linear-gradient(-45deg, var(--color002), var(--color001));
  border: none;
  transition: all 0.25s ease-in-out;
}

.btn-comprador:hover {
  color: white;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.btn-fornecedor {
  color: white;
  background-color: var(--color003);
  border: none;
  transition: all 0.25s ease-in-out;
}

.btn-fornecedor:hover {
  color: white;
  background-color: var(--color003);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.hero {
  background: linear-gradient(0deg, #f0f0f0, #fff);
  padding: 2rem 0;
}

.hero-cta {
  margin-top: 70px !important;
}

.btn-cta {
  color: white;
  background: linear-gradient(-45deg, var(--color002), var(--color001));
  border: none;
  transition: all 0.25s ease-in-out;
}

.btn-cta:hover {
  transform: scale(1.05);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  color: white;
}

.hero-image img {
  max-width: 100%;
}

#solucoes {
  scroll-margin-top: 80px;
}

.item {
  border: 1px solid #e7e7e7;
  border-radius: 0.5rem;
  padding: 1rem;
  background: #fff;
  transition: all 0.25s ease-in-out;
  width: 100%;
}

.item:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  border: 1px solid var(--color001);
}

.item p {
  color: var(--color005);
}

.item img {
  width: 60px;
  height: auto;
}

#integrare {
  background: linear-gradient(0deg, #f0f0f0, #fff);
}

.integrare-header span {
  background: linear-gradient(-45deg, var(--color003), var(--color004));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.integrare-header img {
  width: 80px;
}

.integrare-content a {
  color: var(--color003);
  text-decoration: none;
}

.integrare-content a:hover {
  text-decoration: underline;
}

#marketplace {
  background: linear-gradient(0deg, #f0f0f0, #fff);
}

.mark-container .item:hover {
  border: 1px solid var(--color002);
}

.mark-container img {
  width: 50px;
}

.tec-content {
  background: linear-gradient(
    -45deg,
    var(--color003),
    var(--color002),
    var(--color001)
  );
  padding: 4px;
}

#funcionalidades {
  background: linear-gradient(0deg, #f0f0f0, #fff);
  scroll-margin-top: 60px;
}

.form {
  width: 50%;
  border: 1px solid #e7e7e7;
  border-radius: 0.5rem;
}

.form-check-input {
  width: 20px;
  height: 20px;
  transition: all 0.25s ease-in-out;
}

.form-check-input:checked {
  background-color: var(--color003);
  border-color: var(--color003);
}

.form button {
  width: 100%;
}

.ctt-item {
  width: 100%;
  min-height: 120px;
  border: 1px solid #e7e7e7;
  border-radius: 0.5rem;
  padding: 1.5rem;
}

.ctt-item p {
  margin: 0;
}

.tel-content a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.tel-content a:hover {
  text-decoration: underline;
}

@media (max-width: 990px) {
  .nav-btn-container {
    flex-direction: column;
    width: 50%;
  }

  .hero-cta {
    flex-direction: column;
    gap: 1.5rem !important;
  }

  .sol-container {
    flex-direction: column;
  }

  .plan-container {
    flex-direction: column;
  }

  .mark-container {
    display: flex !important;
    flex-direction: column;
    align-items: center;
  }

  .mark-container div {
    width: 100%;
  }

  .tec-container {
    display: flex !important;
    flex-direction: column;
    align-items: center;
  }

  .tec-container div {
    width: 100%;
  }

  .func-container {
    width: 100% !important;
  }

  .func-header {
    width: 75%;
    margin: auto;
  }

  .card {
    width: 70% !important;
  }

  .ctt-container {
    flex-direction: column;
    gap: 2rem !important;
    margin-top: 1rem !important;
  }

  .ctt-block {
    width: 100% !important;
  }
}
